{% extends 'machete/base.html' %}
{% block body %}
{% load static %}


<section id="club" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1>MACHETE</h1>
          <h2>BEACH CLUB </h2>
          <a href="https://www.youtube.com/embed/kGQq3oFZmFQ" class="glightbox play-btn mb-4"></a>
          </div>
      </div>
    </div>
  </section>
  
<main id="main">


<!-- ======= BeachClub Section ======= -->
<section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
        <h2>Machete Beach Club</h2>
        <p>Access to all amenities. Season is from december to april.</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="box">
            
            <h3>Personal Membership</h3>
            <h4><sup>$</sup>250<span> / season + tax</span></h4>
            <ul>
              <li>Non-kiter company included</li>
              <li>Fresh water</li>
              <li>Bathrooms</li>
              <li>Land and Launch area</li>
              <li>Parking</li>
            </ul>
            <div class="btn-wrap">
              <a href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20the%20club%20membership" 
              class="btn-buy" target="_blank">Book Now <i class="bx bxl-whatsapp"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box">
            
            <h3>Family Membership</h3>
            <h4><sup>$</sup>350<span> / season + tax</span></h4>
            <ul>
              <li>Includes all direct family of prime member</li>
              <li>Non-kiter company included</li>
              <li>Fresh water</li>
              <li>Bathrooms</li>
              <li>Land and Launch area</li>
              <li>Parking</li>
            </ul>
            <div class="btn-wrap">
              <a href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20the%20family%20membership" 
              class="btn-buy" target="_blank">Book Now <i class="bx bxl-whatsapp"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box">
            
            <h3>Day Pass</h3>
            <h4><sup>$</sup>10<span> / day + tax </span></h4>
            <ul>
              <li>Non-kiter company included</li>
              <li>Fresh water</li>
              <li>Bathrooms</li>
              <li>Land and Launch area</li>
              <li>Parking</li>
            </ul>
            <div class="btn-wrap">
              <a href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20the%20day%20pass" 
              class="btn-buy" target="_blank">Book Now <i class="bx bxl-whatsapp"></i></a>
            </div>
          </div>
        </div>

      </div>
      

    </div>
  </div>
  
  </section><!-- End Beach Club Section -->

</main>

{% endblock %} 