{% extends 'machete/base.html' %}
{% block body %}
{% load static %}

<section id="contact-head" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1>Get in touch with us </h1>
          
          </div>
      </div>
    </div>
  </section>

      
  
      <!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <h2>Contact</h2>
            <p>Write, call, or visit. You are always welcome in our humble abode.</p>
          </div>
        </div>
  
        <!-- <div>
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3944.3975237685268!2d-79.70408138521606!3d8.653689593781777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8facc1acdf317bd7%3A0x2610077b70f72e19!2sMachete%20WING%20SURF%20KITE%20%26%20FOIL!5e0!3m2!1sen!2scr!4v1669953780577!5m2!1sen!2scr" frameborder="0" allowfullscreen></iframe>
        </div> -->

        <div id="mapContainer"></div>

<script>
  function loadGoogleMap() {
    var mapContainer = document.getElementById('mapContainer');
    var iframe = document.createElement('iframe');
    iframe.style.border = '0';
    iframe.style.width = '100%';
    iframe.style.height = '350px';
    iframe.src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3944.3975237685268!2d-79.70408138521606!3d8.653689593781777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8facc1acdf317bd7%3A0x2610077b70f72e19!2sMachete%20WING%20SURF%20KITE%20%26%20FOIL!5e0!3m2!1sen!2scr!4v1669953780577!5m2!1sen!2scr"; // Add your Google Maps URL
    iframe.frameborder = '0';
    iframe.allowfullscreen = true;
    mapContainer.appendChild(iframe);
  }

  // Call the function when the user scrolls to the map container
  window.addEventListener('scroll', function () {
    var mapContainer = document.getElementById('mapContainer');
    var rect = mapContainer.getBoundingClientRect();
    if (rect.top < window.innerHeight) {
      loadGoogleMap();
      // Remove the event listener after loading to avoid unnecessary calls
      window.removeEventListener('scroll', arguments.callee);
    }
  });
</script>


        <div class="container">
  
          <div class="row mt-5">
  
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <i class="ri-map-pin-line"></i>
                  <h4>Location:</h4>
                  <p>Punta Chame <br>
                    We are located at the end of the road, last left on the street before U turn, 
                    sandy street, Carr. Bejuco-Punta Chame, Panama Oeste, Panama.</p>
                </div>
  
                <div class="email">
                  <i class="ri-mail-line"></i>
                  <h4>Email:</h4>
                  <p>itzicklalo@gmail.com</p>
                </div>
  
                <div class="phone">
                  <i class="ri-phone-line"></i>
                  <h4>Call:</h4>
                  <p> +507 6674-7772</p>
                </div>
                <br>
                <div class="cta-btn-container ">
                  <a class="cta-btn align-middle" href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20Machete" target="_blank" >
                    <i class="bx bxl-whatsapp bx-md" style="color: #25D366;"></i><h4>Contact us via WhatsApp: </h4></a>
                </div>

              </div>
  
            </div>
  
          </div>
  
        </div>
</section><!-- End Contact Section -->
  
<!-- ======= Faq Section ======= -->
<section id="faq" class="faq">
    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">
            <h3>Frequently Asked <strong>Questions</strong></h3>
            <p>
              There's always a new challenge. We always learn something new. But let's try to get ahead of ourselves.   
            </p>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-7">Can I pay my lessons and gear with a credit card? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-7" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    Yes, we take all major credit cards. 
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-8" class="collapsed">What happens if conditions aren't optimal for my lesson? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-8" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Lessons will only be done on optimal conditions. If this is not the case, you can always reschedule. 
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-9" class="collapsed">Can I bring company while I kite? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-9" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Yes, the beach club is included for the kiters company so they can hang out while you kite. 
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-1" class="collapsed">What should I bring & wear to my Kite or Wing Class? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                        Bring your swim cloth and a lot of sun protection (sunscreen, sunglasses, hat).
                    </p>
                </div>
            </li>
            
            <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">Can I pay my lessons and gear with a credit card? How can I pay my lessons, accommodation, or restaurant bill? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                        You can pay with credit and debit cards, bank transfers, and cash.
                    </p>
                </div>
            </li>
            
            <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">Can I bring my own food & beverages? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                        As we have our own restaurant, there is no need to bring your own food & beverages. If you still want to bring something, you can consume it on the beach or in your private cabin.
                    </p>
                </div>
            </li>
            
            <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed">Can everyone take kite or wing lessons? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                        Adults or kids, men or women, anyone can learn. With today's technological advances in design, the sport has never been safer. Under the correct guidance, you can be up and going in no time.
                    </p>
                </div>
            </li>
            
            <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5" class="collapsed">Can I park my car at the spot? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                        We have a huge parking lot where you can station your car for free for the day.
                    </p>
                </div>
            </li>
            
            <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-6" class="collapsed">How can I reach Punta Chame, Panama? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-6" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                        You can either come with your own car (approx. 1.5 hours from Panama City), take a local bus, or a transfer. Just get in contact with us, and we can help you with your travel planning.
                    </p>
                </div>
            </li>

            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-10" class="collapsed">What can we do when there is no wind? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-10" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                      Relax & chill at our spot, learn how to foil behind our boat, discover the area - visit Los Cajones de Chame, hike Cerro Chame…
                  </p>
              </div>
          </li>
          
            

            </ul>
          </div>

        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style="background-image: url({% static 'machete/assets/img/faq.jpg' %})">&nbsp;</div>
      </div>

    </div>
  </section><!-- End Faq Section -->



{% endblock %}