{% extends 'machete/base.html' %}
{% block body %}
{% load static %}

  
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8">
            <h2>MACHETE - WING SURF KITE & FOIL IN PUNTA CHAME, PANAMA</h2>
            <h1>Feel the Breeze, Ride the Wave</h1>
            
            <a target="_blank" href="https://www.youtube.com/embed/YWQSJhJLHug?si=7YoIQTimpK6yM6Py" class="glightbox play-btn mb-4"></a>
            <!-- <a target="_blank" href="https://www.youtube.com/embed/m7zRaT1MxRM" class="glightbox play-btn mb-4"></a> -->
            </div>
        </div>
      </div>
    </section><!-- End Hero -->
  
    <main id="main">
  
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container">

          <div id="learnMore" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content p-3">
                    
    
                  <div class="d-flex justify-content-end">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>   
                  <p>
                   <h3>Our History</h3> 

                   In 1995 Itzick Lalo and Ari Ezquenazi started PARAKARTING, a 3-wheeled buggy powered by a kite. 
                   They were practicing for two seasons and in 1997 they decided to enter the water. 
                   This was before there was an inflatable kite on the market and before there was a control bar. 
                   There was no literature or photos, it was not even considered possible to go upwind with a kite in the water. 
                   In 2000 there were already 5 kiters in Panama and since then Machete has been in charge of safely 
                   introducing hundreds of students to the incredible sport of kitesurfing. <br>
                   Today MACHETE continues to be the tip of the spear and pioneers in each new modality with 10 years 
                   of experience in foiling, 5 in foil surfing and 4 in Wing foiling
                    <br>
                  </p>
                  
    
                            
                </div>
            </div>
        </div>
  
        <div class="section-title">
            <h2>We are MACHETE</h2>
            <p>Wind, waves and water are the ingredients for some of the most unforgettable moments. 
              Punta Chame offers endless sandy beaches and from December to April, some of the most 
              consistent winds in Central America. Join the Machete family, make new friends, and 
              create memories that last a for a lifetime. </p><br>
              <p>
              We boast 25 years of expertise as a premier wing surf, kite, and foil school, shop, 
              and club. Our IKO certified instructors and top-notch equipment ensure a secure, 
              enjoyable, and rapid learning journey for you.</p>
          </div>
  
          <div class="row content">
            <div class="col-lg-6">
              <p>
                Our location is upwind from everything else, at the end of the Punta Chame peninsula, Panama. 
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i>Teachers in multiple languages. (English, Spanish, German, French)  </li>
                <li><i class="ri-check-double-line"></i>Great atmosphere, maximum fun.</li>
                <li><i class="ri-check-double-line"></i> Optimal learning conditions.</li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                It offers a wide beach and the best wind every day throughout the kiting season from December to April. We are open 7 days a week from 8am to 8pm and provide clean, comfortable facilities and a super chill environment for our students, their family and friends. We look forward to seeing you soon!
              </p>
              <a class="btn-learn-more" data-bs-toggle="modal" data-bs-target="#learnMore" id="learn" name="learn">Learn More </a>
              
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
              <img src="{% static 'machete/assets/img/hero-bg.jpg' %}" class="w-100 shadow-1-strong rounded mb-4" alt="">
            </div>
            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
              <img src="{% static 'machete/assets/img/winger1.jpg' %}" class="w-100 shadow-1-strong rounded mb-4" alt="">
            </div>
            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
              <img src="{% static 'machete/assets/img/friends.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"  alt="">
              <img src="{% static 'machete/assets/img/cluber.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"  alt="">
            </div>
          </div>
  
        </div>
      </section><!-- End About Us Section -->
  
      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
  
          <div class="section-title">
            <h2>Services</h2>
            <p>We are dedicated to spreading our enthusiasm for kitesurfing and wingfoiling, 
              as they are the best adventure sports on the planet. From beginner lessons to 
              advanced courses, visit us at Panama’s premier destination for windsports -
              Punta Chame.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="icon-box">
                <a href="{% url 'lessons' %}">
                <div class="icon"><i class="bx bxs-hot"></i></div>
                <h4>Lessons</a></h4>
                <a href="{% url 'lessons' %}"><p>Experienced and certified instructors are ready to take you up in the air. 
                  Begginer or advanced, here we can help get to the next level.
                </p></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="icon-box">
                <a href="{% url 'rentals' %}">
                <div class="icon"><i class="bx bx-alarm"></i></div>
                <h4>Rentals</a></h4>
                <a href="{% url 'rentals' %}"><p>Here for a quick stop? Technical issues? 
                  We can keep you kiting, winging, foiling, or whatever...we will set you up.</p></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box">
                <a href="{% url 'club' %}">
                <div class="icon"><i class="bx bx-check-shield"></i></div>
                <h4>Beach Club</a></h4>
                <a href="{% url 'club' %}"><p>Take advantage of all our amenities for 
                  yourself and your non-kiting company. Fresh water, chill spots, compressor, 
                  parking, launch area and more.</p></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box">
                <a href="{% url 'facilities' %}">
                <div class="icon"><i class="bx bx-wrench"></i></div>
                <h4>Facilities</a></h4>
                <a href="{% url 'facilities' %}"><p>Enjoy the sports without the hassles. 
                  We can help you maximize your 
                  full enjoyment while at Machete. </p></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box">
                <a href="{% url 'lodging' %}">
                <div class="icon"><i class="bx bx-hotel"></i></div>
                <h4>Lodging</a></h4>
                <a href="{% url 'lodging' %}"><p>Want to stay close to the action? 
                  Stay here and take advantage of morning and afternoon sessions. 
                  Chill with the laid back crowd that frequents Machete.</p></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-restaurant"></i></div>
                <h4><a href="{% url 'restaurant' %}">Restaurant</a></h4>
                <a href="{% url 'restaurant' %}"><p>Open for breakfast, lunch and dinner. 
                  Enjoy fresh healthy food that keeps you flying over water all day long. </p></a>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
      <!-- End Services Section -->
  
      <!-- ======= Cta Section ======= -->
      <section id="cta" class="cta">
        <div class="container">
          
          <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
              <h3>Book your lesson today</h3>
              <p> Adults or kids, men or women, anyone can learn. With today technological advances in design, the sport has never been safer. Under the correct guidance, you can be up and going in no time.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20booking%20a%20lesson" target="_blank">Book now</a>
            </div>
          </div>
  
        </div>
      </section><!-- End Cta Section -->
  
      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
              <div class="icon-box mt-5 mt-lg-0">
                <i class="bx bx-receipt"></i>
                <h4>IKO Certified Instructors <a href="https://www.ikointl.com" target="_blank" rel="noopener noreferrer"><img src="{% static 'machete/assets/img/iko-logo.png' %}"  style="width: 50px;" alt="Iko Logo"></a></h4>
                <p>Certified instructors fly in from all over the world to participate in the season every year. </p>
                
              </div>
              <div class="icon-box mt-5">
                <i class="bx bx-cube-alt"></i>
                <h4>Top quality gear</h4>
                <p>We represent the top brands in the sport to make sure our students have access to top of the notch equipment.</p>
              </div>
              <div class="icon-box mt-5">
                <i class="bx bx-images"></i>
                <h4>Optimal and safe conditions</h4>
                <p>Punta Chame, Panama really offers a perfect learning environment with onshore, constant, reliable winds.</p>
              </div>
              <div class="icon-box mt-5">
                <i class="bx bx-shield"></i>
                <h4>Chill, Relax, Refuel</h4>
                <p>Our beach club experience is great for non-kiters and post session chilling. Check out our delicious restaurant. </p>
              </div>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2" style="background-image: url({% static 'machete/assets/img/features.jpg' %})"></div>
          </div>
  
        </div>
      </section><!-- End Features Section -->
  
      <section id="stay" class="brands">
        <div class="container">
          <div class="section-title mt-5 mt-lg-0">
            <div class="row">
              <div class="col-lg-6 col-md-6 p-2">
                <img src="{% static 'machete/assets/img/stay.jpg' %}"  class="w-100 shadow-1-strong rounded mb-4" alt="">
                </div>
              <div class="col-lg-6 col-md-6">
                <h2>STAY WITH US</h2>
                <p>Our cozy cabañas offer a tranquil retreat right on the edge
                  of adventure. Located just next to our beachclub, they are 
                  your perfect haven for relaxation after a day of kiteboarding 
                  or wingfoiling. Wake up to the sound of the waves and enjoy the 
                  beauty of the surrounding nature.</p>
                  <br>
                <div class="d-flex justify-content-end">
                  <a class="brands-btn align-middle" href="{% url 'lodging' %}">Learn More</a>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>

      <section id="restaurant-index" class="restaurant-index">
        <div class="container">
          <div class="section-title mt-5 mt-lg-0">
            <div class="row">
              
              <div class="col-lg-6 col-md-6">
                <div class="title"><h2>RESTAURANT</h2></div>
                <p>Our culinary oasis is the ideal spot to refuel and relax after a day on the water.
                  Try our menu that marries authentic Italian flavors with fresh and local
                  ingredients. Served in a relaxed atmosphere that captures the essence of the
                  Machete beach life. Come hungry, leave happy, and share your epic water
                  adventure with others.</p>
                <br>
                <a class="restaurant-index-btn align-middle" href="{% url 'restaurant' %}">Learn More</a>
                
              </div>
              <div class="col-lg-6 col-md-6 p-2">
                <img src="{% static 'machete/assets/img/restaurant.jpg' %}"  class="w-100 shadow-1-strong rounded mb-4" alt="">
              </div>
              
            </div>
          </div>
        </div>
      </section>

      <!-- ======= Clients Section ======= -->
      
      <section id="brands" class="clients ">
        <div class="container">
          <div class="section-title mt-5 mt-lg-0">
            <h2>Buy the latest gear in our <b>Shop</b></h2>
            <div class="row">
              <div class="col-md-6">
              <p>
                Kites, wings, boards, harnesses, accessories and more,
                all in one place. Browse our extensive selection of top
                  brands like Slingshot, Ozone, and Armstrong. With 25 
                  years of experience in the watersport industry, we are 
                  happy to provide you with our advice so you find your perfect setup.
              </p>
              </div>
              <div class="col-md-6">
                <img src="{% static 'machete/assets/img/shop.jpg' %}" class="w-100 shadow-1-strong rounded mb-4" alt="">
              </div>
            </div>
          </div>
          <div class="row no-gutters clients-wrap clearfix wow fadeInUp">
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <a href="https://slingshotsports.com" target="_blank"> <img src="{% static 'machete/assets/img/associated/slingshot.png' %}" class="img-fluid" alt=""></a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <a href="https://rideengine.com/" target="_blank"> <img src="{% static 'machete/assets/img/associated/rideengine.png' %}" class="img-fluid" alt=""></a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <a href="https://ozonekites.com" target="_blank"> <img src="{% static 'machete/assets/img/associated/ozone.png' %}" class="img-fluid" alt=""></a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <a href="https://www.crazyflykites.com" target="_blank"> <img src="{% static 'machete/assets/img/associated/crazyfly.png' %}" class="img-fluid" alt=""></a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <a href="https://axisfoils.com" target="_blank"> <img src="{% static 'machete/assets/img/associated/axis.webp' %}" class="img-fluid" alt=""></a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <a href="https://www.armstrongfoils.com" target="_blank"> <img src="{% static 'machete/assets/img/associated/armstrong.png' %}" class="img-fluid" alt=""></a>
              </div>
            </div>
  
            
  
          </div>
  
        </div>
      </section><!-- End Clients Section -->
  
      
      
    
     

    </main><!-- End #main -->
  
 

{% endblock %}