{% extends 'machete/base.html' %}
{% block body %}
{% load static %}

  
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8">
            <h1>MACHETE</h1>
            <h2>WING SURF KITE & FOIL</h2>
            
            
            <a href="https://www.youtube.com/embed/m7zRaT1MxRM" class="glightbox play-btn mb-4"></a>
            </div>
        </div>
      </div>
    </section><!-- End Hero -->
  
    <main id="main">
  
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container">

          <div id="learnMore" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content p-3">
                    
    
                  <div class="d-flex justify-content-end">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>   
                  <p>
                   <h3>Nuestra historia </h3> 

                    En 1995 Itzick Lalo y Ari Ezquenazi empezaron a practicar PARAKARTING, 
                    un buggy de 3 llantas impulsado por un kite. Estuvieron practicando por dos 
                    temporadas y en 1997 decidieron incursionar al agua. Esto fue antes de que 
                    existiera un kite inflable en el mercado y antes de que existiera la barra 
                    de control. No había literatura ni fotos, ni siquiera era considerado posible 
                    ir upwind con un kite en el agua.
                    <br>
                    En el 2000 ya habían 5 kiters en Panamá y desde ese entonces Machete se a encargado 
                    de introducir de una manera segura a cientos de estudiantes en el increíble deporte 
                    del kitesurfing. Hoy en día MACHETE sigue siendo la punta de la lanza y pioneros en 
                    cada nueva modalidad con 10 años de experiencia en foil, 5 en foil surfing y 4 en 
                    Wing foiling.
                    <br>
                  </p>
    
                            
                </div>
            </div>
        </div>
  
          <div class="section-title">
            <h2>About Us</h2>
            <p>"We are a world class wing surf kite & foil school, shop and club with 25 years of experience with IKO certified instructors and top-of-the-line gear will make your learning experience safe, fun and fast. </p>
          </div>
  
          <div class="row content">
            <div class="col-lg-6">
              <p>
                Our location is upwind from everything else, at the end of the Punta Chame peninsula. 
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i>Teachers in multiple languages.  </li>
                <li><i class="ri-check-double-line"></i>Great atmosphere, maximum fun.</li>
                <li><i class="ri-check-double-line"></i> Optimal learning conditions.</li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                It offers a wide beach and the best wind every day throughout the kiting season from December to April. We are open 7 days a week from 8am to 8pm and provide clean, comfortable facilities and a super chill environment for our students, their family and friends. We look forward to seeing you soon!
              </p>
              <a class="btn-learn-more" data-bs-toggle="modal" data-bs-target="#learnMore" id="learn" name="learn">Learn More </a>
              
            </div>
          </div>
  
        </div>
      </section><!-- End About Us Section -->
  
      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
  
          <div class="section-title">
            <h2>Services</h2>
            <p>Our services will bring you here, our vibe will keep you here. In season you will find that we are in a wind sports paradise.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="icon-box">
                <a href="{% url 'lessons' %}">
                <div class="icon"><i class="bx bxs-hot"></i></div>
                <h4>Lessons</a></h4>
                <p>Experienced and certified instructors are ready to take you up in the air. 
                  Begginer or advanced, here we can help get to the next level.
                </p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="icon-box">
                <a href="{% url 'rentals' %}">
                <div class="icon"><i class="bx bx-alarm"></i></div>
                <h4>Rentals</a></h4>
                <p>Here for a quick stop? Technical issues? We can keep you kiting, winging, foiling, or whatever...we will set you up.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box">
                <a href="{% url 'club' %}">
                <div class="icon"><i class="bx bx-check-shield"></i></div>
                <h4>Beach Club</a></h4>
                <p>Take advantage of all our amenities for yourself and your non-kiting company. Fresh water, chill spots, compressor, parking, launch area and more.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box">
                <a href="{% url 'facilities' %}">
                <div class="icon"><i class="bx bx-wrench"></i></div>
                <h4>Facilities</a></h4>
                <p>Enjoy the sports without the hassles. We can help you maximize your full enjoyment while at Machete. </p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box">
                <a href="{% url 'lodging' %}">
                <div class="icon"><i class="bx bx-hotel"></i></div>
                <h4>Lodging</a></h4>
                <p>Want to stay close to the action? Stay here and take advantage of morning and afternoon sessions. Chill with the laid back crowd that frequents Machete.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-restaurant"></i></div>
                <h4><a href="">Restaurant</a></h4>
                <p>Open for breakfast, lunch and dinner. Enjoy fresh healthy food that keeps you flying over water all day long. </p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
      <!-- End Services Section -->
  
      <!-- ======= Cta Section ======= -->
      <section id="cta" class="cta">
        <div class="container">
          
          <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
              <h3>Book your lesson today</h3>
              <p> Adults or kids, men or women, anyone can learn. With today technological advances in design, the sport has never been safer. Under the correct guidance, you can be up and going in no time.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#">Book now</a>
            </div>
          </div>
  
        </div>
      </section><!-- End Cta Section -->
  
      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
              <div class="icon-box mt-5 mt-lg-0">
                <i class="bx bx-receipt"></i>
                <h4>Certified Instructors</h4>
                <p>Certified instructors fly in from all over the world to participate in the season every year.</p>
              </div>
              <div class="icon-box mt-5">
                <i class="bx bx-cube-alt"></i>
                <h4>Top quality gear</h4>
                <p>We represent the top brands in the sport to make sure our students have access to top of the line equipment.</p>
              </div>
              <div class="icon-box mt-5">
                <i class="bx bx-images"></i>
                <h4>Optimal and safe conditions</h4>
                <p>Punta Chame really offers and perfect learning environment with onshore, constant, reliable winds.</p>
              </div>
              <div class="icon-box mt-5">
                <i class="bx bx-shield"></i>
                <h4>Chill, Relax, Refuel</h4>
                <p>Our beach club experience is great for non-kiters and post session chilling. Check out our delicious restaurant. </p>
              </div>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2" style="background-image: url({% static 'machete/assets/img/features.jpg' %})"></div>
          </div>
  
        </div>
      </section><!-- End Features Section -->
  
      <!-- ======= Clients Section ======= -->
      
      <section id="brands" class="clients ">
        <div class="container">
          <div class="section-title mt-5 mt-lg-0">
            <h2>Brands</h2>
            <p>We represent and sell the top brands in the industry. With most products in-stock, you can be sure to find what you need.  </p>
          </div>
          <div class="row no-gutters clients-wrap clearfix wow fadeInUp">
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <a href="https://slingshotsports.com" target="_blank"> <img src="{% static 'machete/assets/img/associated/slingshot.png' %}" class="img-fluid" alt=""></a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <a href="https://rideengine.com/" target="_blank"> <img src="{% static 'machete/assets/img/associated/rideengine.png' %}" class="img-fluid" alt=""></a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <a href="https://ozonekites.com" target="_blank"> <img src="{% static 'machete/assets/img/associated/ozone.png' %}" class="img-fluid" alt=""></a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <a href="https://www.crazyflykites.com" target="_blank"> <img src="{% static 'machete/assets/img/associated/crazyfly.png' %}" class="img-fluid" alt=""></a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <a href="https://axisfoils.com" target="_blank"> <img src="{% static 'machete/assets/img/associated/axis.webp' %}" class="img-fluid" alt=""></a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <a href="https://www.armstrongfoils.com" target="_blank"> <img src="{% static 'machete/assets/img/associated/armstrong.png' %}" class="img-fluid" alt=""></a>
              </div>
            </div>
  
            
  
          </div>
  
        </div>
      </section><!-- End Clients Section -->
  
      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts">
        <div class="container">
  
          <div class="text-center title">
            <h3>Current Conditions</h3>
            <p>Don't miss a session, or just dream about it. </p>
          </div>
  
          <!-- <div class="row counters position-relative">
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Wind Speed</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Wind Direction</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>Low Tide</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>High Tide</p>
            </div>
  
          </div> -->
          <div class="row counters">
          <script id="wg_fwdg_33095_100_1673239000981">
          (function (window, document) {
            var loader = function () {
              var arg = ["s=33095" ,"m=100","uid=wg_fwdg_33095_100_1673239000981" ,"wj=knots" ,"tj=c" ,"waj=m" ,"odh=0" ,"doh=24" ,"fhours=240" ,"hrsm=2" ,"vt=forecasts" ,"lng=en" ,"idbs=1" ,"ts=2" ,"p=WINDSPD,GUST,SMER"];
              var script = document.createElement("script");
              var tag = document.getElementsByTagName("script")[0];
              script.src = "https://www.windguru.cz/js/widget.php?"+(arg.join("&"));
              tag.parentNode.insertBefore(script, tag);
            };
            window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
          })(window, document);
          </script>
          </div>
        </div>
      </section><!-- End Counts Section -->
  
      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container">
  
          <div class="section-title">
            <h2>Gallery</h2>
            <p>Some moments just need to be shared.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-kite">Kitesurf</li>
                <li data-filter=".filter-wing">Wing</li>
                <li data-filter=".filter-web">Machete</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-kite">
              <img src="{% static 'machete/assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Kite</h4>
                <p>Kitesurf and Foil</p>
                <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-kite">
              <img src="{% static 'machete/assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Kitesurf</h4>
                <p>Tailgrab</p>
                <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-wing">
              <img src="{% static 'machete/assets/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>WingFoil</h4>
                <p>Huge!</p>
                <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-wing">
              <img src="{% static 'machete/assets/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>WingFoil</h4>
                <p>Itzick</p>
                <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-machete">
              <img src="{% static 'machete/assets/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cabins</h4>
                <p>Glamping</p>
                <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
  
          </div>
  
        </div>
      </section><!-- End Portfolio Section -->
  
     


      <!-- ======= Faq Section ======= -->
      <section id="faq" class="faq">
        <div class="container-fluid">
  
          <div class="row">
  
            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
  
              <div class="content">
                <h3>Frequently Asked <strong>Questions</strong></h3>
                <p>
                  There's always a new challenge. We always learn something new. But let's try to get ahead of ourselves.   
                </p>
              </div>
  
              <div class="accordion-list">
                <ul>
                  <li>
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">Can I pay my lessons and gear with a credit card? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                      <p>
                        Yes, we take all major credit cards. 
                      </p>
                    </div>
                  </li>
  
                  <li>
                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">What happens if conditions aren't optimal for my lesson? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                      <p>
                        Lessons will only be done on optimal conditions. If this is not the case, you can always reschedule. 
                      </p>
                    </div>
                  </li>
  
                  <li>
                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">Can I bring company while I kite? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                      <p>
                        Yes, the beach club is included for the kiters company so they can hang out while you kite. 
                      </p>
                    </div>
                  </li>
  
                </ul>
              </div>
  
            </div>
  
            <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style="background-image: url({% static 'machete/assets/img/faq.jpg' %})">&nbsp;</div>
          </div>
  
        </div>
      </section><!-- End Faq Section -->
  
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <h2>Contact</h2>
            <p>Write, call, or visit. You are always welcome in our humble abode.</p>
          </div>
        </div>
  
        <div>
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3944.3975237685268!2d-79.70408138521606!3d8.653689593781777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8facc1acdf317bd7%3A0x2610077b70f72e19!2sMachete%20WING%20SURF%20KITE%20%26%20FOIL!5e0!3m2!1sen!2scr!4v1669953780577!5m2!1sen!2scr" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="container">
  
          <div class="row mt-5">
  
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <i class="ri-map-pin-line"></i>
                  <h4>Location:</h4>
                  <p>Punta Chame, Panama</p>
                </div>
  
                <div class="email">
                  <i class="ri-mail-line"></i>
                  <h4>Email:</h4>
                  <p>itzicklalo@gmail.com</p>
                </div>
  
                <div class="phone">
                  <i class="ri-phone-line"></i>
                  <h4>Call:</h4>
                  <p> +507 6674-7772</p>
                </div>
                <br>
                <div class="cta-btn-container ">
                  <a class="cta-btn align-middle" href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20Machete" target="_blank" >
                    <i class="bx bxl-whatsapp bx-md"></i><h4>Contact Us </h4></a>
                </div>

              </div>
  
            </div>
  
           
              
              
              
                
              
               
              

            
          </div>
  
        </div>
      </section><!-- End Contact Section -->
  
    </main><!-- End #main -->
  
 

{% endblock %}