{% extends 'machete/base.html' %}
{% block body %}
{% load static %}

<section id="lodging" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1>MACHETE</h1>
          <h2>CAMPING GLAMPING </h2>
          <a href="https://www.youtube.com/embed/kGQq3oFZmFQ" class="glightbox play-btn mb-4"></a>
          </div>
      </div>
    </div>
  </section>
  
<main id="main">
    <!-- ======= Lodging Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container">

            <div class="section-title">
                <h2>Machete Lodging</h2>
                <p>Stay close to the action.</p>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6">
                <div class="box">
                    
                    <h3>Premium Cabin</h3>
                    <h4><sup>$</sup>80<span> / night</span></h4>
                    <ul>
                    
                    <li>Private bathroom inside the cabin</li>
                    <li>Queen size bed</li>
                    <li>Cleans Sheets</li>
                    <li>Clean Towels</li>
                    <li>Daily Housekeeping</li>
                    <li>Beach club daypass included</li>
                    </ul>
                    <div class="btn-wrap">
                    <a href="{% url 'lodging' %}" class="btn-buy">Learn More</a>
                    </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                <div class="box">
                    
                    <h3>Glamping Cabin</h3>
                    <h4><sup>$</sup>40<span> / night</span></h4>
                    <ul>
                    <li>Queen size bed</li>
                    <li>Cleans Sheets</li>
                    <li>Clean Towels</li>
                    <li>Daily Housekeeping</li>
                    <li>Shared bathroom</li>
                    <li>Beach club daypass included</li>
                    <li>$900/month pricing available</li>
                    </ul>
                    <div class="btn-wrap">
                    <a href="{% url 'lodging' %}" class="btn-buy">Learn More</a>
                    </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                <div class="box">
                    
                    <h3>Camp Site</h3>
                    <h4><sup>$</sup>20<span> /tent/night</span></h4>
                    <ul>
                    <li>Parking</li>
                    <li>Security</li>
                    <li>Shared bathroom </li>
                    <li>Beachside camping</li>
                    </ul>
                    <div class="btn-wrap">
                    <a href="{% url 'lodging' %}" class="btn-buy">Learn More</a>
                    </div>
                </div>
            </div>

        </div>
        

        </div>
    </div>
    </section><!-- End Lodging Section -->
</main>




{% endblock %}