{% extends 'machete/base.html' %}
{% block body %}
{% load static %}


<section id="rentals" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1>MACHETE</h1>
          <h2>RENTALS </h2>
          <a href="https://www.youtube.com/embed/kGQq3oFZmFQ" class="glightbox play-btn mb-4"></a>
          </div>
      </div>
    </div>
  </section>
  
<main id="main">


 <!-- ======= Rentals Section ======= -->
 <section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
        <h2>Rental Gear</h2>
        <p>We offer premium quality equipment which will match your needs and the conditions - no matter if you are kiting, winging or kite foiling!
          <br>
          In order to rent equipment you have to be an independent Kiter.
          For our students it is possible to borrow equipment if your instructor considers that you have the required level. </p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="box">
            <h2>Full Gear</h2>
            
            <ul>
              <li><h4><sup>$</sup>35<span> / hour + tax</span></h4></li>
              <li><h4><sup>$</sup>60<span> / half day + tax</span></h4></li>
              <li><h4><sup>$</sup>100<span> / full day + tax</span></h4></li>
              <li><h4><sup>$</sup>400<span> / week + tax</span></h4></li>
            </ul>
            <div class="btn-wrap">
              
              <a href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20renting%20kite%20and%20board" 
              class="btn-buy" target="_blank" onclick="trackAndOpen(event, this, 'whatsapp_fullgear_rentals')">Book Now <i class="bx bxl-whatsapp"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
          <div class="box">
            
            <h2>Board Only</h2>
            <ul>
              <li><h4><sup>$</sup>15<span> / hour + tax</span></h4></li>
              <li><h4><sup>$</sup>25<span> / half day + tax</span></h4></li>
              <li><h4><sup>$</sup>40<span> / full day + tax</span></h4></li>
              <li><h4><sup>$</sup>200<span> / week + tax</span></h4></li>
            </ul>
            <div class="btn-wrap">
              <a href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20renting%20a%20board" 
              class="btn-buy" target="_blank" onclick="trackAndOpen(event, this, 'whatsapp_board_rentals')">Book Now <i class="bx bxl-whatsapp"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box">
            
            <h2>Kite & Bar</h2>
            <ul>
              <li><h4><sup>$</sup>25<span> / hour + tax</span></h4></li>
              <li><h4><sup>$</sup>40<span> / half day + tax</span></h4></li>
              <li><h4><sup>$</sup>60<span> / full day + tax</span></h4></li>
              <li><h4><sup>$</sup>300<span> / week + tax</span></h4></li>
            </ul>
            <div class="btn-wrap">
              <a href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20renting%20a%20kite" 
              class="btn-buy" target="_blank" onclick="trackAndOpen(event, this, 'whatsapp_kite_bar_rentals')">Book Now <i class="bx bxl-whatsapp"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-2">
          <div class="box">
            
            <h2>Harness</h2>
            
            <ul>
              <li><h4><sup>$</sup>5<span> / hour + tax</span></h4></li>
              <li><h4><sup>$</sup>10<span> / half day + tax</span></h4></li>
              <li><h4><sup>$</sup>15<span> / full day + tax</span></h4></li>
              <li><h4><sup>$</sup>75<span> / week + tax</span> </h4></li>
            </ul>
            <div class="btn-wrap">
              <a href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20renting%20a%20harness." 
              class="btn-buy" target="_blank" onclick="trackAndOpen(event, this, 'whatsapp_harness_rentals')">Book Now <i class="bx bxl-whatsapp"></i></a>
            </div>
          </div>
        </div>

      </div>
      

    </div>
  </div>
  </section><!-- End Pricing Section -->
</main>


{% endblock %}