{% extends 'machete/base.html' %}
{% block body %}
{% load static %}


<section id="rentals" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1>MACHETE</h1>
          <h2>RENTALS </h2>
          <a href="https://www.youtube.com/embed/kGQq3oFZmFQ" class="glightbox play-btn mb-4"></a>
          </div>
      </div>
    </div>
  </section>
  
<main id="main">


 <!-- ======= Rentals Section ======= -->
 <section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
        <h2>Rentals</h2>
        <p>Premium quality equipment. </p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="box">
            <h2>Kite and Board</h2>
            
            <ul>
              <li><h4><sup>$</sup>35<span> / hour</span></h4></li>
              <li><h4><sup>$</sup>60<span> / half day</span></h4></li>
              <li><h4><sup>$</sup>100<span> / full day</span></h4></li>
              <li><h4><sup>$</sup>400<span> / week</span></h4></li>
            </ul>
            <div class="btn-wrap">
              
              <a href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20renting%20kite%20and%20board" 
              class="btn-buy" target="_blank">Book Now <i class="bx bxl-whatsapp"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box">
            
            <h2>Board Only</h2>
            <ul>
              <li><h4><sup>$</sup>15<span> / hour</span></h4></li>
              <li><h4><sup>$</sup>25<span> / half day</span></h4></li>
              <li><h4><sup>$</sup>50<span> / full day</span></h4></li>
              <li><h4><sup>$</sup>200<span> / week</span></h4></li>
            </ul>
            <div class="btn-wrap">
              <a href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20renting%20a%20board" 
              class="btn-buy" target="_blank">Book Now <i class="bx bxl-whatsapp"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box">
            
            <h2>Kite Only</h2>
            <ul>
              <li><h4><sup>$</sup>20<span> / hour</span></h4></li>
              <li><h4><sup>$</sup>30<span> / half day</span></h4></li>
              <li><h4><sup>$</sup>60<span> / full day</span></h4></li>
              <li><h4><sup>$</sup>300<span> / week</span></h4></li>
            </ul>
            <div class="btn-wrap">
              <a href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20renting%20a%20kite" 
              class="btn-buy" target="_blank">Book Now <i class="bx bxl-whatsapp"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-2">
          <div class="box">
            
            <h2>Foil Behind JetSki</h2>
            <h4><sup>$</sup>30<span> / 15minutes</span></h4>
            <ul>
              <li>Learn to foil</li>
              <li>Foil for fun</li>
            </ul>
            <div class="btn-wrap">
              <a href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20doing%20foil%20behind%20the%20JetSki" 
              class="btn-buy" target="_blank">Book Now <i class="bx bxl-whatsapp"></i></a>
            </div>
          </div>
        </div>

      </div>
      

    </div>
  </div>
  </section><!-- End Pricing Section -->
</main>


{% endblock %}