{% extends 'machete/base.html' %}
{% block body %}
{% load static %}

<section id="restaurant" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1>RESTAURANT</h1>
          
          </div>
      </div>
    </div>
  </section>

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">
        <div class="section-title">
            <h1><b>Our Cuisine - </b>Italian Flavors</h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>
                    Enjoy a mix of delicious Italian cuisine and local classics, 
                    freshly prepared by our Italian chef Maximiliano. Our restaurant 
                    is the ideal place to relax and enjoy great food between your sessions. 
                    Come hungry, leave happy – it's the Machete way.
                </p>
                <img src="{% static 'machete/assets/img/tartar.jpg' %}"  style="width:400px" alt="">
            </div>
            <div class="col-lg-6">
                <img src="{% static 'machete/assets/img/tuna.jpg' %}"  style="width:500px" alt="">
            </div>
        </div>
    </div>
</section>
        <br><br>
<section id="chef" class="chef">
    <div class="container">
        <div class="row p-3">
            <div class="col-lg-6">
                <img src="{% static 'machete/assets/img/chef.jpg' %}"  style="width:500px" alt="">
            </div>
            <div class="col-lg-6">
                
                <div class="title">
                    <h1><b>Max - </b>Our Sardinian Gourmet</b></h1>
                </div>
                <p>
                    Meet chef Maximiliano, the heart of our culinary experience. 
                    Hailing from the sun-kissed shores of Sardinia, Italy, Max 
                    brings a passion for authentic Mediterranean flavors and a touch 
                    of Italian zest to our table. With a philosophy deeply rooted in 
                    the use of fresh, local ingredients, Maximiliano crafts dishes 
                    that tell a story of tradition, innovation, and the pure joy of 
                    Italian cuisine. His culinary journey, rich with the aromas and tastes 
                    of his homeland, transforms each meal into an unforgettable experience. 
                    Join us for a taste of Sardinia, where Maximiliano's creations bring 
                    the essence of Italy to Panama's exquisite seaside.
                </p>
                <img src="{% static 'machete/assets/img/pizza.jpg' %}"  style="width:400px" alt="">
            </div>
        </div>
    </div>
</section>






{% endblock %}