{% extends 'machete/base.html' %}
{% block body %}
{% load static %}


<section id="rentals" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1>MACHETE</h1>
          <h2>TRIPS </h2>
          <a href="https://www.youtube.com/embed/kGQq3oFZmFQ" class="glightbox play-btn mb-4"></a>
          </div>
      </div>
    </div>
  </section>

  <main id="main">

    <section id="pricing" class="pricing">
        <div class="container">
            
            <div class="section-title">
                <h2>Trips</h2>
                <p>Other level experiences. </p>
            </div>

            <div class="row">

              <div class="col-lg-4 col-md-6 mt-4 mt-lg-2">
                <div class="box">
                  
                  <h2>Foil Behind Boat</h2>
                  <h4><sup>$</sup>30<span> / 15minutes + tax</span></h4>
                  <ul>
                    <li>Learn to foil</li>
                    <li>Foil for fun</li>
                  </ul>
                  <div class="btn-wrap">
                    <a href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20doing%20foil%20behind%20the%20JetSki" 
                    class="btn-buy" target="_blank">Book Now <i class="bx bxl-whatsapp"></i></a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mt-4 mt-lg-2">
                <div class="box">
                  
                  <h2>Sandbanks</h2>
                  <h4><sup>$</sup>35<span> / person 3h + tax</span></h4>
                  <ul>
                    <li>min. 4 people</li>
                    <li>Kite or Foil in flat water</li>
                    <li>Enjoy the sandbanks</li>
                    <li>Return Downwind Ride</li>
                  </ul>
                  <div class="btn-wrap">
                    <a href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20doing%20the%20sandbanks%20trip." 
                    class="btn-buy" target="_blank">Book Now <i class="bx bxl-whatsapp"></i></a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mt-4 mt-lg-2">
                <div class="box">
                  
                  <h2>Downwinder</h2>
                  <h4><sup>$</sup>150<span> / person + tax</span></h4>
                  <ul>
                    <li>min. 3 people</li>
                    <li>Ride upwind on a boat</li>
                    <li>Return downwind with boat escort</li>
                    <li>max 5 people per boat</li>
                  </ul>
                  <div class="btn-wrap">
                    <a href=" https://wa.me/50766747772?text=Hi,%20I'm%20interested%20in%20doing%20the%20downwinder%20trip." 
                    class="btn-buy" target="_blank">Book Now <i class="bx bxl-whatsapp"></i></a>
                  </div>
                </div>
              </div>

            </div>
        </div>
    </section>






  </main>


{% endblock %}